* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* navbar section */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
    z-index: 10;

}

nav.scrolled {
    background: #383838de;
}

nav.black {
    background: #ffff;
    height: 120px;
    padding: 10px 100px;
    z-index: 999;
}



nav .logo {
    padding: 25px 5px;
    height: 85vh;
    float: left;
    margin-left: -50px;

    font-size: 24px;
    transition: .3s;

}

.logo img {
    height: 12vh;
    /* Adjust the height as needed */
    width: auto;
    /* Automatically adjust the width based on the height */
    position: relative;
    /* Ensure positioning context */
    top: -20px;
}

nav.black .logo {
    color: #161515;
}



nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}



nav ul li a {
    line-height: 100px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: .3s;
    font-size: 1.7vw;
}


nav ul li a:hover {
    color: #a8a8a8;
}


nav.scrolled ul li a {
    color: #fff;
    /* Dark text when scrolled */
}



nav.black ul li a {
    font-family: "Poppins", sans-serif;
    color: #080808;
    font-weight: 200;
}

nav ul li a:focus {
    outline: none;
}


.Animated-Nav {
    display: none;
}


/* contact btn */

/* #menuList li:last-child {
    background-color: deeppink;
    border-radius: 40px;
    padding: 10px 20px; 
}  */


#menuList li:last-child a {
    background-color: deeppink;
    border-radius: 40px;
    padding: 10px 20px;
    /* Adjust padding as needed */
}

/* contact btn end */


/* navbar Section end */



/* Contcat section */


.contact{
    height: 120vh;
    width: 100%;
    background-color: #011a41;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    
}
.name{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmax;
    color: #D4088C;
}

.contact-box{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 100px ;
}
.contact-parts{
    width: 50%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-container a {
    text-decoration: none;
}


.grid-item {
    min-width: 250px;
    max-width: 250px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 20px;
}
.grid-item:hover {
    transform: translateY(-10px);
}
.grid-item img {
    width: 60px;
    height: auto;
    display: block;
}
.grid-item h3 {
    margin: 15px 0 10px;
    color: #FFFFFF;
}
.grid-item p {
    padding: 0 15px 15px;
    color: #fff;
}
.map-image{
    width: 400px;
    max-width: 400px;
    max-height: 250px;
    height: 30%;
    background-color: #ffffff91;
    margin: 30px;
    border-radius: 30px;
    overflow: hidden;
    object-fit: fill;
}

/* form */
.contact-form-container {
    background-color: #292929;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    min-width: 380px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
    text-align: left;
    color: #6EE8FC;
    font-size: 30px;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #FFFFFF;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a0a0a0bb;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: #383838;
    color: #FFFFFF;
}

.contact-form button {
    padding: 10px;
    background-color: #535353;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #6EE8FC;
}


/* contact us end */
/* end */

.endnote{
    height: 40vw;
    width: 100%;
    background-color: #011a41;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-image{
    height: 25vw;
    width: 70vw;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity to control the tint intensity */
    z-index: 50; /* Ensure it is above the image but below the text */
}

.end-image > img{
    width: 70vw;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}

.end-image > h2{
    font-size: 3vw;
    color: #FFFFFF;
    position: absolute;
    z-index: 100;
    
}
.full{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}










/* footer */

.container-footer {
    max-width: 1170px;
    margin: auto;
  }
  .row-footer {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #24262b;
    padding: 70px 0;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }


  .logo-img img{
    height: 8vh;
  }

  .content-footer p{
    color: #FFFFFF;
    line-height: 1.5rem;

  }




  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(37, 215, 245);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
  
  .copyright {
    font-size: 14px;
    color: #bbbbbb;
    text-align: center;
    margin: 0;
    padding-top: 20px;
  }
  


/* footer end */
















@media (max-width: 1200px) {


    /* Navbar section */


    /* Navbar section */


   
    nav .logo {
        
        margin-left: -75px;

    }


    #menuList {
        display: none;
    }

    
    
    /* Animated NavBar */

    .Animated-Nav {
        display: block;
    }

    
.custom_menu-btn {
    position: fixed;
    right: 25px;
    top: 11px;
    width: 50px;
    height: 50px;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      /* background-color: white; */
      box-shadow: 0 0 5px 0 rgba( #000000,  .07);
      z-index: 7;
      border-radius: 100%;
      transition: all .3s;
    }
  
    &.menu_btn-style {
      &::before {
        width: 100vh;
        height: 100vh;
        background-color: #160e0b;
        transform: scale(5);
        border-radius: 0;
      }
    }
  }
  
  .custom_menu-btn button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    z-index: 999;
    margin: 0;
  }
  
  .custom_menu-btn button span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(245, 240, 240);
    margin: 2.5px 0;
    transition: all 0.3s;
    border-radius: 15px;
  }
  
  
  .custom_menu-btn .s-2 {
    transition: all 0.1s;
  }
  
  .menu_btn-style button span {
    background-color: white;
  }
  
  .menu_btn-style button .s-1 {
    transform: rotate(45deg) translate(6px, 6px);
  }
  
  .menu_btn-style button .s-2 {
    transform: translateX(100px);
  }
  
  .menu_btn-style button .s-3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 9;
  
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 60px;
  }
  
  .overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
  
    &:hover {
      color: #fd9c6b;
    }
  
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    z-index: 99;
  }
  
  .menu_width {
    width: 100%;
  }
  
  .menu_width.overlay a {
    opacity: 1;
    padding: 2%;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    box-shadow: none;
  }
  





    /* Animated NavBar end */




    /* contact btn */

    #menuList li:last-child a {
        background-color: deeppink;
        border-radius: 40px;
        padding: 5px 20px 10px 20px;
        margin-bottom: 90px;
    }

    /* contact btn end */




    
    /* contact us */
    .contact{
        height: auto;
        padding: 100px;
    }
    .contact-box{
        height: auto;
        flex-direction: column;
    }
    
    .contact-form-container{
        width: 50vw;
        max-width: 500px;
        min-width: 380px;
    }
}























@media (max-width: 700px) {


        /* navbar section */

        nav {

            height: 9vh;
        }
    
        nav .logo {
        
            height: 10vh;
        }
    
    
        .logo img { 
    
            height: 7.9vh;
        }
    
        /* contact btn */
    
        #menuList li:last-child a {
            background-color: deeppink;
            border-radius: 40px;
            padding: 5px 20px 10px 20px;
            margin-bottom: 150px;
        }
    
        /* contat btn end */
    
        /* navbar section end */




    /* contact us */
.map-image{
    width: 80vw;
    height: 40vw;
    border-radius: 20px;
}
.grid-item {
    min-width: auto;
    max-width: none;
    width: 35vw;
}

.grid-item img {
    width: 9vw;
}
.grid-item h3 {
    font-size: 2.8vw;
}
.grid-item p {
    font-size: 2.3vw;
}
.contact{
    padding-top: 100px;
    padding-bottom: 0;
}
.name{
    height: 100px;
    font-size: 4vw;
}
.contact-box{
    padding: 0;
}
.contact-parts{
    margin: 0;
    padding: 0;    
}
.contact-form-container {
    max-width: 400px;
    min-width: auto;
    width: 80vw;
    padding: 20px;
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    font-size: 4vw;
}

.contact-form label {
    font-size: 2.5vw;
}

.contact-form input,
.contact-form textarea {
    font-size: 2.3vw;
}

.contact-form button {
    font-size: 2.3vw;
}
.endnote{
    height: 60vw;
}
.end-image{
    height: 37vw;
    width: 85vw;
}
.end-image > img{
    width: 85vw;
}

}